body {
	margin:0;
}

.introducao {
	height: 200px;
	width: 50%;
	margin:auto;
	margin-top: 20px;
}

.paginainicial{
	height: 500px;
	width: 40%;
	min-width: 570px;
	background-color: #EEEEEE;
	margin:auto;
	margin-top: 20px;
	padding: 20px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	 border-radius:7px;
}

.logo{
	padding-top: 20px;
	height: 110px;
	width: 60%;
	background-color: #000000;
	margin:auto;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	margin-bottom: 50px;
}

.formulario {
	height: 300px;
	width: 70%
	margin:auto;
	padding: 5px;
	background-color: #696969;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	margin-bottom: 50px;
	text-align: center;
}